body {
    background-color:lightskyblue;
    font-size: sans-serif;
	font-size: 1.5em;
}
/* }
h{ 
	font-family: 'Luckiest Guy', cursive;

} */
header h1{ 
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav{
	border: 4px;
	margin-left: auto;
     margin-right: 100px;
    width: 300px;   
	/* display:flex;
    justify-content:center; */
}
nav div {
	padding: 20px ;
	/* width: 100%; */
	text-align:center;
	font-size: sans-serif;
	border: 2px solid blue;

}
<div>
 
/* search {
	margin-left: auto;
} */

.container{
	width:1000px;
	margin:0 auto;
     text-align: center;
}

.container img{
	width:300px;
	height:300px;
	display: inline-block;
	border:10px solid #fff;
	border-radius: 20px;
	


}

.bottom-container h1{

	color: #fff;
	text-align-last: left;
	 border-bottom:8px solid #fff;
	 width: 700px;
	  padding-bottom: 10px;;

}



#ballWrapper {
	width: 140px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -70px;
}
#ball {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	background: linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
	box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), 
				inset -2px -1px 40px rgba(0,0,0,0.4), 
				0 0 1px #000;	
}
#ball::after {
	content: "";
	width: 80px; 
	height: 40px; 
	position: absolute;
	left: 30px;
	top: 10px;	
	background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	border-radius: 40px / 20px;	
}
#ballShadow {
	width: 60px;
	height: 75px;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
	background: rgba(20, 20, 20, .1);
	box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
	border-radius: 30px / 40px;	
}
#ball {
	animation: jump 1s infinite;
}
@keyframes jump {
	0% {
		top: 0;
	}
	50% {
		top: 140px;
		height: 140px;
	}
	55% {
		top: 160px; 
		height: 120px; 
		border-radius: 70px / 60px;
	}
	65% {
		top: 120px; 
		height: 140px; 
		border-radius: 70px;
	}
	95% {
		top: 0;
	}
	100% {
		top: 0;
	}
}
p{
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
	font-family : sans-serif;
	background-origin:dashed red;
}